body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image : linear-gradient(white, teal);
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* height: 100%; */
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  }

.navbar ul li {
  position: relative;
  float: left;
}

.navbar ul li a{
  font-size: 20px;
  padding: 20px;
  color:dimgrey;
  display: block;
}

.navbar ul li a:hover{
  background: grey;
  color:white;
}

/* Smartphone */

@media screen and (min-width: 320px) and (max-width: 480px)  {
  .navbar ul {display: none; } 
  .navbar .fa-bars {display: block; color: grey; font-size: 48px;}
  
}


/* Tablet  */

@media screen and (min-width: 481px) and (max-width: 768px)  {
    .navbar ul {display: none; } 
    .navbar .fa-bars {display: block; color: grey; font-size: 48px;}

    } 

     /* Footer Media Query */
  @media screen and (min-width: 769px) {
      .footer-div {
          flex-direction: row !important;
          height: 10px;
  }
}

.footer-div {
  color: black;
  display: flex;
  justify-content: space-around !important;
  flex-wrap: wrap;   
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-left: 24px;
  width: 100%;
  
}

footer {
  width: 100%;
  position:relative;
  bottom: 0;
  /* height: 15vh; */
  padding-bottom: 0px;
  padding-left: 90px;
  background:teal;
  

}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background: linear-gradient(teal,white);
  border-radius: 100px;
  color: black;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}



